@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --app-max-width: 1300px;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background: var(--background-color);
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3b;
    border: 0 none #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

::-webkit-scrollbar-thumb:active {
    background: #212121;
}

::-webkit-scrollbar-track {
    background: #b5b5b5;
    border: 0 none #ffffff;
}

::-webkit-scrollbar-track:hover {
    background: #a1a1a1;
}

::-webkit-scrollbar-track:active {
    background: #808080;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.alt-bg {
    color: var(--text-color-alt);
}

.alt-bg a {
    color: var(--link-color-alt);
}

.alt-bg a:hover {
    color: var(--link-color-hover-alt) !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 1;
    filter: blur(1px);
    transform: scale(1.1);
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1100;
    background: var(--background-color);
    margin-top: calc(75px - 16px);
    transition: width 100ms;
}

.sidebar.sidebar-right {
    left: unset;
    right: 0;
}

.sidebar.open {
    width: 300px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 0;
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    align-items: center;
}

.sidebar-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 950;
    background-color: rgba(0, 0, 0, 0.4);
}


header {
    max-width: var(--app-max-width);
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    padding: 16px 32px;
    position: fixed;
    opacity: 1;
    background: var(--background-color);
    z-index: 2;
    color: var(--text-color);
    transition: all 100ms;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header.alt-bg {
    background: none;
    color: var(--text-color-alt);
}

header div {
    width: max-content;
    display: inline;
}

header a {
    transition: all 100ms;
    margin-right: 24px;
}

header a:hover {
    color: var(--text-color-hover-alt);
}

header a.active {
    color: var(--text-color-active);
}

header.content a:hover {
    color: var(--text-color-hover);
}

header.content a.active {
    color: var(--body-color);
}

.sidebar-button {
    float: right;
    display: none;
}

.sidebar-button button {
    color: var(--link-color);
}

.sidebar-button button:hover {
    color: var(--link-color-hover);
}

section {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.03125);
    padding: 64px 0 32px;
    background: var(--background-color);
    display: flex;
    justify-content: center;
}

section h1 {
    margin-bottom: 72px;
    font-family: 'Oswald', sans-serif;
}

.section-wrapper {
    max-width: var(--app-max-width);
    width: 100%;
    padding: 0 32px;
}

#dev-info {
    background: none;
}

#dev-info a {

}

#dev-info #dev-card {
    display: flex;
    padding-bottom: 32px;
}

#dev-info #dev-card #img {
    width: 200px;
}

#dev-info #dev-card #img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.85);
}

#dev-info #dev-card #info {
    flex-grow: 1;
    margin-left: 24px;
}

#dev-info #dev-card #info p {
    margin-bottom: 0;
}

#dev-info #dev-card #info #basic-info {
    margin-bottom: 16px;
}

#dev-info #dev-card #info #basic-info #dev-name {
    font-size: 18pt;
    font-weight: bold;
}

#dev-info #dev-card #info #links a {
    font-size: 16pt;
    margin-right: 4px;
}

#dev-info #dev-card #info #info-social #dev-links a {
    padding-right: 4px;
}

#about {

}

#about p {
    margin-bottom: 32px;
}

#about #download-resume-btn {
    padding: 12px 20px;
    background: var(--btn-background-color);
    transition: all 100ms ease;
    border-radius: 50px;
    color: var(--btn-text-color);
}

#about #download-resume-btn:hover {
    background: var(--btn-background-color-hover);
    text-decoration: none;
}

#resume {

}

#resume h2 {
    font-size: 14pt;
    padding: 16px 0;
}

#resume ul {

}

#resume ul li {
    padding-bottom: 8px;
}

#resume ul li p {
    margin: 0;
}

#resume ul li p.school-name {
    font-weight: bold;
}

#resume ul li .school-details {
    font-size: 12pt;
}

#resume ul li p.company-name {
    font-weight: bold;
}

#resume ul li .company-details {
    font-size: 12pt;
}

#resume ul li .company-details .divider {
    display: block;
    padding: 4px 0;
}

#resume #skills {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-row-gap: 24px;
}

#resume #skills .skill-kind {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-row-gap: 4px;
}

#resume #skills .skill-kind .skill-kind-description {
    margin: 0;
}

#resume #skills .skill-kind .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    margin: 0 -4px;
}

#resume #skills .skill-kind .skills .skill {
    border-radius: 4px;
    border: #777777 solid 1px;
    padding: 4px 8px;
    transition: all 100ms ease;
    height: min-content;
    margin: 4px;
}

#resume #skills .skill-kind .skills .skill:hover {
    background: var(--btn-background-color);
    color: #eeeeee;
    cursor: pointer;
}

#resume #skills .skill p {
    margin: 0;
}

#portfolio {

}

#portfolio .portfolio-items {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 32px;
    overflow-x: hidden;
}

#portfolio a {
    text-decoration: none;
    transition: all 500ms;
    background: var(--odd);
}

#portfolio a:hover {
    text-decoration: none;
    color: var(--text-color);
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    background: var(--even);
}

#portfolio .portfolio-item {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 16px;
}

#portfolio .portfolio-item .project-img {
    max-width: 95vw;
}

#portfolio .portfolio-item .project-img img {
    width: 100%;
}

#portfolio .portfolio-item .project-info {
    display: grid;
    grid-template-rows: auto auto auto;
    height: fit-content;
    grid-row-gap: 32px;
    overflow: auto;
}

#portfolio .portfolio-item .project-info p {
    margin: 0;
    max-width: 95vw;
}

#portfolio .portfolio-item .project-info .project-name {
    font-size: 16pt;
    font-weight: bold;
}

#portfolio .portfolio-item .project-info .project-description {

}

#portfolio .portfolio-item .project-info .techs-div {
    overflow: auto;
}

#portfolio .portfolio-item .project-info .techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    margin: 0 -4px;
    padding-right: 16px;
}

#portfolio .portfolio-item .project-info .techs .stack {
    margin: 4px;
    border-radius: 4px;
    border: #777777 solid 1px;
    padding: 4px 8px;
    transition: all 100ms ease;
}

#portfolio .portfolio-item .project-info .techs .stack:hover {
    background: var(--btn-background-color);
    color: #eeeeee;
    cursor: pointer;
}

#contact {
    background: rgba(255, 255, 255, 0.05);
    padding-top: 64px;
    padding-bottom: 16px;
}

#contact a {

}

#contact-content {
    position: relative;
    z-index: 1;
}

#contact input[type="text"],
#contact input[type="password"],
#contact textarea {
    border: 1px solid;
    border-color: var(--input-border-color);
    outline: none;
    padding: 4px;
    font-size: 12pt;
    color: var(--text-color);
    background-color: var(--input-background-color);
    transition: all 100ms;
}

#contact textarea {
    resize: none;
}

#contact input[type="text"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
    border-color: var(--input-border-color-hover);
    outline: none;
}

#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact textarea:focus {
    border-color: var(--input-border-color-focus);
    outline: none;
}

#contact #contact-div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-column-gap: 16px;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

#contact #contact-div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact #contact-div #social-links {

}

#contact #contact-div #social-links #links-1 {
    margin-bottom: 16px;
}

#contact #contact-div #email-form {

}

#contact #contact-div #email-form label {
    margin: 2px;
}

#contact #contact-div #email-form #form-send-btn {
    text-align: center;
    width: 100%;
    border: none;
    padding: 12px 20px;
    background: var(--body-color-alt);
    transition: all 100ms ease;
    border-radius: 50px;
    color: var(--btn-text-color);
}

#contact #contact-div #email-form #form-send-btn:hover {
    background: var(--text-color-hover-alt);
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 11pt;
    padding: 8px 0;
    background: rgba(255, 255, 255, 0.05);
}

footer p {
    margin: 0;
}

@media (max-width: 960px) {
    #contact #contact-div {
        grid-template-columns: auto auto;
        grid-auto-flow: column;
        grid-template-rows: auto;
    }
}

@media (max-width: 800px) {
    #portfolio .portfolio-item {
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        grid-template-columns: auto;
        grid-row-gap: 16px;
    }
}

@media (max-width: 640px) {
    #contact #contact-div {
        grid-template-columns: auto;
        grid-auto-flow: column;
        grid-template-rows: auto auto;
        grid-row-gap: 32px;
    }

    header .links {
        display: none;
    }

    .sidebar-button {
        display: unset;
    }
}

@media (max-width: 480px) {
    #dev-info #dev-card #info #info-social {
        padding-top: 16px;
        margin-left: calc(-50vw + 64px);
    }

    #dev-info #dev-card #info #links a {
        font-size: 20pt;
    }

    #resume #skills {
        grid-template-columns: auto;
    }

    #contact #contact-div #social-links #links-2 ul {
        columns: 2;
    }
}