@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root {
    --app-max-width: 1300px;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background: var(--background-color);
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.alt-bg {
    color: var(--text-color-alt);
}

.alt-bg a {
    color: var(--link-color-alt);
}

.alt-bg a:hover {
    color: var(--link-color-hover-alt) !important;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple,
.select2-dropdown {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    color: var(--text-color);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--even);
    color: var(--text-color);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
}

.select2-container--default .select2-search--inline .select2-search__field {
    color: var(--text-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--even);
    border-color: var(--input-border-color);
    color: var(--text-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: var(--text-color-hover);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%) no-repeat 50% 50%;
    /*filter: blur(1px);*/
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1000;
    background: none;
    transition: width 100ms;
}

.sidebar.sidebar-right {
    left: unset;
    right: 0;
}

.sidebar.center {
    right: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar.center.open {
    right: 0;
}

.sidebar.open {
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 0;
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.sidebar-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 950;
    background-color: rgba(0, 0, 0, 0.4);
    /*backdrop-filter: blur(2px);*/
}

.sidebar a {
    transition: all 100ms;
}

.sidebar a.active {
    color: var(--body-color-alt);
}

header {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    padding: 16px 0;
    position: fixed;
    background: var(--background-color);
    z-index: 1000;
    color: var(--text-color);
    transition: all 100ms;
    display: flex;
    justify-content: center;
}

header.alt-bg {
    background: none;
    color: var(--text-color-alt);
}

header .links,
header .links .sublinks,
header .sidebar-button {
    width: max-content;
    display: inline-flex;
    padding: 0;
    list-style: none;
    gap: 12px;
}

header .links .sublinks {
    background-color: var(--card-color);
    border-radius: 50px;
    max-width: 0;
    height: min-content;
    overflow: hidden;
    white-space: nowrap;
    transition: all 100ms;
}

header .links .sublinks.visible {
    max-width: 1000px;
    margin-left: 6px;
    padding: 0 4px;
}

header .links li,
header .links .sublinks li {
    display: inline-flex;
    justify-content: flex-start;
    width: min-content;
    /* gap: 12px; */
}

header a {
    transition: all 100ms;
}

header a:hover {
    color: var(--text-color-hover-alt);
}

header a.active {
    color: var(--text-color-active);
}

header.content a:hover {
    color: var(--text-color-hover);
}

header.content a.active {
    color: var(--body-color);
}

header .sidebar-button {
    float: right;
    display: none;
}

header .sidebar-button button {
    color: var(--link-color);
}

header .sidebar-button button:hover {
    color: var(--link-color-hover);
}

header.alt-bg .sidebar-button button {
    color: var(--text-color-alt);
}

header .sidebar-button button:hover {
    color: var(--text-color-hover-alt);
}

section {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding: 64px 0 32px;
    background: var(--background-color);
    display: flex;
    justify-content: center;
}

section section {
    padding: unset;
    background: unset;
    display: unset;
}

.no-bg {
    background: none;
}

section h1 {
    margin-bottom: 36px;
    font-family: 'Oswald', sans-serif;
}

.section-wrapper {
    max-width: var(--app-max-width);
    width: 100%;
    padding: 0 32px;
}

#dev-info #dev-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-row-gap: 16px;
    justify-items: center;
    padding-bottom: 32px;
}

#dev-info #dev-card #img {
    width: 200px;
}

#dev-info #dev-card #img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.85);
}

#dev-info #dev-card #info {
    text-align: center;
}

#dev-info #dev-card #info p {
    margin-bottom: 0;
}

#dev-info #dev-card #info #basic-info {
    margin-bottom: 16px;
}

#dev-info #dev-card #info #basic-info #dev-name {
    font-family: 'Source Code Pro', monospace;
    font-size: 20pt;
    font-weight: bold;
}

#dev-info #dev-card #info #links a {
    font-size: 18pt;
    margin-right: 4px;
}

#dev-info #dev-card #info #dev-links {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    justify-content: center;
}

#about p {
    margin-bottom: 32px;
    text-align: justify;
}

#about #download-resume-btn {
    padding: 12px 20px;
    background: var(--btn-background-color);
    transition: all 100ms ease;
    border-radius: 50px;
    color: var(--btn-text-color);
}

#about #download-resume-btn:hover {
    background: var(--btn-background-color-hover);
    text-decoration: none;
}

#resume h2 {
    font-size: 14pt;
    padding: 16px 0;
}

#resume ul li {
    padding-bottom: 8px;
    position: relative;
}

#resume ul li:not(:last-child)::before {
    border-left: 2px solid;
    border-color: var(--bg-gradient-end);
    content: ' ';
    position: absolute;
    height: calc(100% - 6px);
    margin-top: 18px;
    margin-left: -17px;
}

@-moz-document url-prefix() {
    #resume ul li:not(:last-child)::before {
        margin-left: -14px;
    }
}

#resume ul li p {
    margin: 0;
}

#resume ul li p.school-name,
#resume ul li p.company-name,
#resume ul li p.language-name {
    font-weight: bold;
}

#resume ul li .school-details,
#resume ul li .company-details,
#resume ul li .levels {
    font-size: 12pt;
}

#resume ul li .levels {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 8px;
    grid-row-gap: 4px;
}

#resume ul li .divider {
    display: block;
    padding: 4px 0;
}

#resume #div-skills {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-row-gap: 24px;
}

#resume #div-skills .skill-kind {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-row-gap: 4px;
}

#resume #div-skills .skill-kind .skill-kind-description {
    margin: 0;
}

#resume #div-skills .skill-kind .skills,
#portfolio .portfolio-item .project-info .techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    margin: 0 -4px;
}

#resume #div-skills .skill-kind .skills .skill,
#portfolio .portfolio-item .project-info .techs .stack {
    border-radius: 4px;
    border: #777777 solid 1px;
    padding: 4px 8px;
    transition: all 50ms ease;
    height: min-content;
    margin: 4px;
}

#resume #div-skills .skill-kind .skills .skill:hover,
#portfolio .portfolio-item .project-info .techs .stack:hover {
    background: var(--btn-background-color);
    color: var(--text-color-alt);
}

#resume #div-skills .skill p {
    margin: 0;
}

#portfolio #portfolio-filter-div {
    padding: 0 0 32px 0;
}

#portfolio #portfolio-filter-div p {
    margin: 0;
    font-size: 16pt;
}

#portfolio .portfolio-items {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 32px;
    overflow-x: hidden;
}

#portfolio a {
    text-decoration: none;
    transition: all 200ms;
    background: var(--odd);
}

#portfolio a:hover {
    text-decoration: none;
    color: var(--text-color);
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    background: var(--even);
}

#portfolio .portfolio-item {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 16px;
}

#portfolio .portfolio-item .project-img {
    max-width: 95vw;
}

#portfolio .portfolio-item .project-img img {
    width: 100%;
}

#portfolio .portfolio-item .project-info {
    display: grid;
    grid-template-rows: auto auto auto;
    height: fit-content;
    grid-row-gap: 32px;
    overflow: auto;
}

#portfolio .portfolio-item .project-info p {
    margin: 0;
    max-width: 95vw;
}

#portfolio .portfolio-item .project-info .project-name {
    font-size: 16pt;
    font-weight: bold;
}

#portfolio .portfolio-item .project-info .techs-div {
    overflow: auto;
}

footer {
    background: rgba(255, 255, 255, 0);
}

#contact {
    padding-top: 64px;
    padding-bottom: 16px;
}

#contact h1 {
    margin-bottom: 72px;
}

#contact-content {
    position: relative;
    z-index: 1;
}

#contact label {
    display: none;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='password'],
#contact textarea {
    border: 1px solid;
    border-color: var(--input-border-color);
    outline: none;
    padding: 4px;
    font-size: 13pt;
    color: var(--text-color);
    background-color: var(--input-background-color);
    transition: all 100ms;
}

#contact textarea {
    resize: none;
}

#contact input[type='text']:hover,
#contact input[type='password']:hover,
#contact textarea:hover {
    border-color: var(--input-border-color-hover);
    outline: none;
}

#contact input[type='text']:focus,
#contact input[type='password']:focus,
#contact textarea:focus {
    border-color: var(--input-border-color-focus);
    outline: none;
}

#contact #contact-div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-column-gap: 16px;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

#contact #contact-div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact #contact-div #social-links #links-1 {
    margin-bottom: 16px;
}

#contact #contact-div #email-form label {
    margin: 2px;
}

#contact #contact-div #email-form #form-send-btn {
    text-align: center;
    width: 100%;
    border: none;
    padding: 12px 20px;
    background: var(--body-color-alt);
    transition: all 100ms ease;
    border-radius: 50px;
    color: var(--btn-text-color);
}

#contact #contact-div #email-form #form-send-btn:hover {
    background: var(--text-color-hover-alt);
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 11pt;
    padding: 8px 32px;
    margin: 0;
}

@media (max-width: 960px) {
    #contact #contact-div {
        grid-template-columns: auto auto;
        grid-auto-flow: column;
        grid-template-rows: auto;
    }
}

@media (max-width: 800px) {
    #portfolio .portfolio-item {
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        grid-template-columns: auto;
        grid-row-gap: 16px;
    }
}

@media (max-width: 640px) {
    #contact #contact-div {
        grid-template-columns: auto;
        grid-auto-flow: column;
        grid-template-rows: auto auto;
        grid-row-gap: 32px;
    }

    header {
        background: none;
    }

    header .links {
        display: none;
    }

    header .sidebar-button {
        display: unset;
    }
}

@media (max-width: 480px) {
    #contact #contact-div #social-links #links-2 ul {
        columns: 2;
    }
}
